<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{front::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>

    <div class="container p-5 mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-sh">
                    <div class="card-header text-center ">
                        <p class="fs-4">Add Product</p>
                        <p class="text-success fw-bold"></p>
                        <p class="text-danger fw-bold"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>