<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{front::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <div class="container card-sh" style="margin-top: 70px; margin-bottom:50px">
        <div class="col-md-10 p-5">
            <div class="row">
                <div class="col-md-6 text-end">
                    <img alt=""  src="/images/product/dcl1.jpg" width="300px"
                         height="330px">
                </div>
                <div class="col-md-6">
                    <p class="fs-3">DCL Laptop</p>
                    <p>
                        <span class="fw-bold">Description : </span><br>DCL DC253D Intel Core i3 1315U Laptop, 8GB DDR4 RAM & 512 GB SSD
                    </p>
                    <p>
                        <span class="fw-bold"> Product Details: </span> <br> Status :
                        <span class="badge bg-success">Available</span>
                        <span class="badge bg-warning">out of stock</span>
                        <br> Category : DCL Product<br>
                        Policy : 7 Days Replacement & Return

                    </p>
                    <p class="fs-5 fw-bold">
                        Price :&nbsp <i class="fas fa-dollar-sign"></i>53,000 &nbsp<span
                            class="fs-6 text-decoration-line-through text-secondary">7,000</span>
                        <span class="fs-6  text-success">30% off</span>
                    </p>

                    <div class="row">
                        <div class="col-md-4 text-success text-center p-2">
                            <i class="fas fa-money-bill-wave fa-2x"></i>
                            <p>Cash On Delivery</p>
                        </div>
                        <div class="col-md-4 text-danger text-center p-2">
                            <i class="fas fa-undo-alt fa-2x"></i>
                            <p>Return Available</p>
                        </div>
                        <div class="col-md-4 text-primary text-center p-2">
                            <i class="fas fa-truck-moving fa-2x"></i>
                            <p>Free Shipping</p>
                        </div>
                    </div>
                    <a href="#" class="btn btn-danger col-md-12">Add To Cart</a>

                </div>
            </div>
        </div>
    </div>





</section>

</body>
</html>